GMAIL_USER=seu_email@gmail.com
GMAIL_APP_PASSWORD=sua_senha_de_app
TELEGRAM_BOT_TOKEN=seu_token_do_telegram
OPENWEATHER_KEY=sua_chave_openweather
TWITTER_CONSUMER_KEY=sua_consumer_key
TWITTER_CONSUMER_SECRET=sua_consumer_secret
TWITTER_ACCESS_TOKEN=seu_access_token
TWITTER_ACCESS_SECRET=seu_access_secret
